@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap");
/* navbar */
.navbar-expand-lg {
  background: #fff !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px 10px;
  font-family: "Volkhov", serif;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #000;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #000;
}
/* navbar-end */

/* carousel */
.HomeCarousel {
  margin-top: 100px;
}

.carousel-indicators {
  display: none;
}

.carousel-indicators .active {
  display: none;
}
/* carousel-end */

/* about */
.abouUs {
  padding-top: 50px;
}
.contentSection span {
  color: #ff4d00;
  text-transform: uppercase;
  font-weight: 700;
}
/* about-end */

/* our-collections */
.our-collections {
  background-color: #4595e2;
  padding-top: 50px;
  padding-bottom: 50px;
}
.our-collections h1 {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Volkhov", serif;
}
.our-collections p {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  font-family: "Volkhov", serif;
}
.our-collections img {
  width: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(117, 114, 114);
}

.our-collections .contentSection {
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.3s linear;
}

.our-collections .contentSection:hover,
.our-collections .contentSection:focus {
  background-color: #770101;
  box-shadow: 0px 0px 5px #fff;
}

.our-collections .contentSection a {
  text-decoration: none;
  font-family: "Volkhov", serif;
}

.our-collections .contentSection span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Volkhov", serif;
}

/* our-collections-end */

/* weBelieve */
.weBelieve {
  padding-top: 50px;
  padding-bottom: 50px;
}
.weBelieve h1 {
  text-transform: uppercase;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  font-family: "Volkhov", serif;
}
.weBelieveSection h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  font-family: "Volkhov", serif;
}
.weBelieveSection p {
  font-weight: 500;
  font-size: 18px;
  font-family: "Volkhov", serif;
}
/* weBelieve-end */

/* footer */
.footer {
  background-color: aqua;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  font-size: 22px;
  margin-bottom: 25px;
  font-family: "Volkhov", serif;
}
.reachUs .phone {
  color: #000;
  font-weight: 700;
  padding-bottom: 100px;
  font-size: 18px;
  font-family: "Volkhov", serif;
}
.reachUs .fas {
  font-size: 18px;
  color: #000;
}
.reachUs .email {
  color: #000;
  font-weight: 700;
  padding-bottom: 100px;
  font-size: 18px;
  font-family: "Volkhov", serif;
}
.footer a {
  text-decoration: none;
  color: rgb(53, 49, 49);
  font-weight: 700;
  font-family: "Volkhov", serif;
}
.followUs ul {
  padding-left: 0px !important;
}
.followUs img {
  width: 15%;
  padding-right: 10px;
}
.copyRight {
  background: #222 !important;
}
.copyRight a {
  text-decoration: none;
  color: #00ffff;
  font-family: "Volkhov", serif;
}
/* footer-end */

/* media query */
@media (max-width: 767px) {
  .navbar-collapse {
    background: #2e94bf;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
    border-bottom: 1px dotted #000;
    padding: 5px;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #f8f9fa;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: #18191a;
    border-bottom: 1px dotted #fff;
  }
  .footer {
    text-align: center;
  }
}
/* media query-end */
